.container {
    width: 250px;
    height: 100vh !important;
    background: #000;
    position: absolute;
    border-radius: 0px;
    padding: 25px;
    left: 0px;
}

.btnn {
    height: 40px;
    width: 200px;
    background-color: #625ba7;
    border: none;
    margin-top: 10px;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}

.btnn:hover {
    background-color: #fff;
    color: #000;
}

form {
    border-radius: 5px;
    background-color: #535d96;
    padding: 10px;
    margin-top: 30px;
}

input,
select {
    width: 100%;
    padding: 12px 18px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.submitButton {
    width: 100%;
    background-color: #38993b;
    color: white;
    padding: 12px 18px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #a7ada8;
}

.transactions ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 350px;
    height: 100vh !important;
    background: #4036a0;
    right: 0;
    position: absolute;
    border-radius: 5px;
    padding: 25px;
    overflow-y: auto;
}

.transactions ul li {
    display: flex;
    justify-content: flex-start;
    background-color: #716e8d;
    border-radius: 10px;
    align-items: center;
    padding: 10px;
}

.transaction-details {
    flex: 1;
}

.transaction-details p {
    margin: 0;
}

.transaction-details p span {
    display: block;
    text-align: center;
}

.transaction-actions button {
    background-color: #d2dad2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px;
    margin-left: 10px;
}

.expense {
    background-color: #ff7b7b;
}

.income {
    background-color: #48b448;
}

.transferTransactions  {
    width: 300px;
    height: 300px;
    background-color: #4036a0;
    left: 660px;
    top: 20px;
    position: absolute;
    border-radius: 5px;
    overflow-y: auto;
}

.transferTransactions h4 {
    color: #fff;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

.transferTransactions ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

.transferTransactions ul li {
    background-color: #d2dad2;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
}

.transferTransactions ul li span {
    color: #000;
    display: block;
    margin-bottom: 5px;
}

.transferTransactions ul li .transaction-actions button {
    background-color: #716e8d;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px;
    margin-left: 10px;
}

.transferTransactions ul li:last-child {
    margin-bottom: 0;
}