<div class="container">
  <h2>{{ login ? 'Login' : 'Signup' }}</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <label>Email:</label>
    <input type="email" formControlName="email" required>

    <label>Password:</label>
    <input type="password" formControlName="password" required>

    <button type="submit" [disabled]="loginForm.invalid">
      {{ login ? 'Login' : 'Signup' }}
    </button>
  </form>

  <p>
    <button (click)="changeMode()">
      {{ login ? 'Dont have an account? Sign up here.' : 'Already have an account? Login here.' }}
    </button>
  </p>
</div>